In [1]:
import pandas as pd

In [26]:
# Reading csv file

In [2]:
df1 = pd.read_csv('income.csv')

In [4]:
len(df1)

32445

In [5]:
sort(df1)

NameError: name 'sort' is not defined

In [6]:
sorted(df1)

['Industry_aggregation_NZSIOC',
 'Industry_code_ANZSIC06',
 'Industry_code_NZSIOC',
 'Industry_name_NZSIOC',
 'Units',
 'Value',
 'Variable_category',
 'Variable_code',
 'Variable_name',
 'Year']

In [7]:
df1

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2019,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"728,239",ANZSIC06 divisions A-S (excluding classes K633...
1,2019,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"643,809",ANZSIC06 divisions A-S (excluding classes K633...
2,2019,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"62,924",ANZSIC06 divisions A-S (excluding classes K633...
3,2019,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"21,505",ANZSIC06 divisions A-S (excluding classes K633...
4,2019,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"634,710",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
32440,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32441,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32442,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32443,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32444,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [8]:
df1.head()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2019,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"728,239",ANZSIC06 divisions A-S (excluding classes K633...
1,2019,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"643,809",ANZSIC06 divisions A-S (excluding classes K633...
2,2019,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"62,924",ANZSIC06 divisions A-S (excluding classes K633...
3,2019,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"21,505",ANZSIC06 divisions A-S (excluding classes K633...
4,2019,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"634,710",ANZSIC06 divisions A-S (excluding classes K633...

In [9]:
print(df1['Year'].dtype)

int64

In [17]:
print(df1['Industry_aggregation_NZSIOC'].astype('category'))

0        Level 1
1        Level 1
2        Level 1
3        Level 1
4        Level 1
          ...
32440    Level 3
32441    Level 3
32442    Level 3
32443    Level 3
32444    Level 3
Name: Industry_aggregation_NZSIOC, Length: 32445, dtype: category
Categories (3, object): ['Level 1', 'Level 3', 'Level 4']

In [18]:
print(list('Industry_aggregation_NZSIOC'))

['I', 'n', 'd', 'u', 's', 't', 'r', 'y', '_', 'a', 'g', 'g', 'r', 'e', 'g', 'a', 't', 'i', 'o', 'n', '_', 'N', 'Z', 'S', 'I', 'O', 'C']

In [21]:
df = pd.DataFrame([[1,2,3,4],[5,6,7,8],[56,76,54,4],[9,76,44,33]],columns=['A','B','C','D'])

In [22]:
df

    A   B   C   D
0   1   2   3   4
1   5   6   7   8
2  56  76  54   4
3   9  76  44  33

In [24]:
df.to_csv('Export.csv',index=False)