In [2]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame()  ##creating dataframe (empty)

In [ ]:
print(df)

In [3]:
df1 = pd.DataFrame([[1,2,3],[4,5,6],[44,55,66],[76,89,64],[578,778,33,455]]) , coloumns=(['A','B','C','D']) ##data-frame craeted

SyntaxError: cannot assign to function call (<ipython-input-3-5a5a00c7f166>, line 1)

In [ ]:
df1

In [ ]:
df1.head  ##first 5 
          ##df1.head(2) will show only first 2

In [ ]:
df1.tail  ##last 5

In [ ]:
df1.tail(2)   ##df1.tail(2) will show only last 2

In [ ]:
df1

In [ ]:
df1.shape  ## gives the size of data in (x,y)

In [ ]:
df1.iloc[4,2]  ## gives elemt with-resp-to x,y co-ord

In [ ]:
df1.iloc[0:2,0:3]  ## slicing the data

In [ ]:
df1.drop

In [ ]:
df1

In [ ]:
df1

In [8]:
df2=pd.DataFrame([3445,555,3,33,4],[56,653,353,535,353]),columns(['a','e','d','e','o'])

NameError: name 'columns' is not defined

In [5]:
df2

        0
56   3445
653   555
353     3
535    33
353     4